<div class="mb-4">

	<!-- Kitaplar ve Yazarlar sayfasına yönlendiren butonlar -->
	<a class="btn btn-warning fw-bold" asp-controller="Book" asp-action="List">Kitaplar</a> 
	<a class="btn btn-warning fw-bold" asp-controller="Author" asp-action="List">Yazarlar</a>

	<!-- Yeni kitap eklemek için buton -->
	<a class="btn btn-warning fw-bold" asp-controller="Book" asp-action="Create">Kitap Ekle</a>
	<!-- Yeni yazar eklemek için buton -->
	<a class="btn btn-warning fw-bold" asp-controller="Author" asp-action="Create">Yazar Ekle</a>

</div>